<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2021</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register-login"> 
    <header>
        <div class="box-logo-buscador">
        
        <!-- Logo -->
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="logotipo">
        </div>

        <!-- Barra buscador-->
        <div class="barra-buscador">
            <form action="">
            <input type="buscar" placeholder="Buscar productos, marcas" id="Buscar"/>
            <button><i class="fas fa-search"></i></button>
            </form>
       </div>


        <!-- Compra en cuotas -->
        <p class="compra">
            <i></i><i class="fas fa-hand-holding-usd"></i></i>
            Compra en cuotas y sin tarjetade credito
        </p>
    </div>
    

        <nav class="men">
            <ul>
                <li><a>Ofertas</a></li>
                <li><a>Tiendas oficiales</a></li>
                <li><a >Vender</a></li>
                <li><a>Ayuda</a></li>
            </ul>


            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <button>
                <label for="menu">☰</label></i>
            </button>
        </div>
    </header>

    <main>

        <div class="contenedor-registro"> 
            <h3>¡Registrate!</h3>

            <form action="">
                <!-- full-name -->
                <div class="container-imput">
                    <label class="label-section" for="fullName">Completá tus datos:</label>
                    <input type="text" placeholder="Nombre y Apellido" name="fullName">
                </div> 
                <!-- user-name -->
                <div class="container-imput">
                    <input type="text" placeholder="Nombre de usuario" name="userName">
                </div> 

                <!-- Email -->
                <div class="container-imput">
                    <input type="text" placeholder="E-mail" name="email">
                </div> 

                <!-- nacimiento -->
                <div class="container-imput">
                    <label class="label-section" for="date">Fecha de nacimiento</label>
                    <input type="date" placeholder="Fecha de nacimiento" name="date">
                </div>

                <!-- domicilio -->
                <div class="container-imput">
                    <input type="text"  placeholder="Domicilio" name="domicilio">
                </div>

                <!-- perfiles -->
                <label class="label-section" for="">Perfil de usuario</label>
                <div class="container-perfil">
                    <input type="radio" name="perfil" value="comprador" id="comprador">
                    <label 
                    for="comprador">Comprador</label>

                   <input type="radio" name="perfil" value="vendedor" id="vendedor">
                   <label 
                    for="vendedor">Vendedor</label>
                </div>

                <!-- Intereses -->
                <label class="label-section" for="">Intereses</label>
               
                <div class="container-input-in">

                <input type="checkbox" name="intereses" value="electro" id="electro"> <label for="electro">
                        Electro</label>
                </div>
                
                <div class="container-input-in">
                   <input type="checkbox" name="intereses" value="moda" id="moda"> <label 
                    for="moda">
                    Moda</label>
                </div>
               
                <div class="container-input-in">
                <input type="checkbox" name="intereses" value="hogar" id="hogar"> <label 
                    for="hogar">Hogar</label>
                </div>
              
                <div class="container-input-in">
                <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria"> <label 
                    for="jugueteria">
                    Juguetería</label>
                </div>

                <div class="container-input-in">
                    <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana"> 
                    <label for="vida-sana">Vida sana</label>
                    </div>

                <!-- Foto de perfil-->
                <div class="container-imput">
                    <label class="label-section"  for="">Foto de perfil</label>
                    <input type="file" name="img" id="vida-sana">
                </div>

                 <!-- Contraseña -->
                 <label class="label-section"  for="">Contraseña:</label>
                 <div class="container-imput">
                     <input type="password" name="pass" placeholder="Escribe contraseña" minlength="8" >
                 </div>

                 <!-- Repetir contraseña -->
                 <label class="label-section"  for="">Repetir contraseña:</label>
                 <div class="container-imput">
                     <input type="password" name="repeat-pass" placeholder="Repetir contraseña">
                 </div>

                  <!-- botones -->
                  <div class="container-button">
                      <button class="btn-verde" type="submit">Registrarse</button>
                      <button class="btn-rojo" type="reset">Reset</button>
                  </div>
                  
                </div>
            </form>

        </div>





    </main>
    <footer>

        <section class="tarjeta">
            <div class="card"><i class="fas fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </section>

        <section class="regalo">
            <div class="grift"><i class="fas fa-gift"></i>

            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </section>

        <section class="seguridad">
            <div class="secure">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin.</h4>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.

        </section>

        <section class="Copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>

    </footer>
</body>

</html>