header {
  background-color: var(--colorAmarillo);
  padding: 30px 20px 20px 20px;
}

header .box-logo-buscador {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
 
}

header .logo {
  width: 48%;
  margin-left: 10px;
  margin-top: 10px;
}

header .barra-buscador {
  width: 48%;
}

header .barra-buscador input {
  width: 80%;
}

header p.compra {
  align-items: center;
  font-size: 12px;
  margin: 0 auto;
}

header nav.men{
  display: none;
}

header nav.men li{
  list-style:none;
}

header .usuario {
  margin-top: 20px;
}

header .burger-menu button {
  font-size: 15px;
  padding: 8px;
  border-radius: 10%;
  color: white;
  background-color: var(--colorCeleste);
}
.burger-menu {
  text-align: center;
  padding: 10px;
}


@media (min-width: 768px) {
  .burger-menu button {
    display: none;
  }

 header nav.men {
   display:flex;
   justify-content: space-between;
   margin-top: 30px;
  }
header nav.men ul{
  display:flex;
}
header nav.men ul li{
  margin: 0 10px;
  font-size:12px;
}

  header .logo {
    width: 30%;
  }
  
  header .barra-buscador {
    
    width: 30%;
  }

  header p.compra {
    width: 33%;
    margin: 0;
  }
 
}

@media (min-width: 1024px){

  header p.compra{
    font-size:17px;
  }
}
