* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body div.logo {
  margin-left: 1em;
  width: 140px;
}

body {
  font-family: Roboto;
  background-color: #ebebeb;
}

p.compra {
  text-align: center;
  font-size: 12px;
  margin:0 auto;
}

nav.men {
  display:none;
}


header {
    width:100%;
  background-color: #eac926;
}

header div.barra-buscador {
  padding: 10px;
  font-size: 10px;
}

header .usuario {
  margin-top: 20px;
}

.burger-menu button {
  font-size: 15px;
  padding: 8px;
  border-radius: 10%;
  color: white;
  background-color: var(--colorAzul);
}
.burger-menu{
    text-align: center;
    padding: 10px;
}


@media(min-width:361px){
    .burger-menu button {
        display:none;
    }
    nav.men {
        display:flex;
        flex-direction: column;
        margin-left: 8px;
        font-size: 12px;
      }
    
}