.home main section{
  width:90%;
  margin: 0 auto;
  
}
main {
  background-color:var(--colorGrisclaro)
}
  
/*Titulos de las secciones ultimas vistas y ofertas */
.home h4{
    
    color: #666;
    font-size: 18px;
    
  }

  /* Color fondo main */
 .home main article {
    margin:10px 0;
    background-color: white;

  }

  /*Caja con descripcion producto*/
  .home main .descripcion-producto{
    position:relative;
    border: 1px solid #ebebeb;
    padding:15px;
   
  }

  .home main .precio-descuento{
    display:flex;
  }

/*texto Precio*/
  .home main article .precio {
    flex-grow: 0.3;
    color: #666;
  }
 /* texto Descuento*/
  .home main article .descuento {
    flex-grow: 0.7;
    color: var(--colorVerde);
    font-size:14px;
  }
/*Texto detalle*/
.home main article .detalle {
  color: #666;
  font-size: 16px;

}
  
  /*Camioncito envio*/
  .home main i {
    color: green;
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    padding: 5px;
    font-size:16px;
    background-color:#fff;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  
  .home .descripcion-producto {
    
    border: 1px solid #ebebeb ;
  }


  /*Versión desktop & tablet*/
  @media(min-width:768px){

   .home main section{
    
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
     .home main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
     
     .home main h4{
       width: 100%;
     }

     .home main article{
      width: 40%;
      

     }
  
  }
  @media(min-width:1024px){
    .home main article{
      width: 20%;
      

     }
  
  }