*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}



body{
    
    font-family: Roboto;
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
}


body div.logo{

    margin-left: 2em;
    
   width: 150px;
   
}


 header div.barra-buscador{
padding:10px;
  font-size: 10px;
 }

 header button{
     margin-top: -10px;
   margin-left: 10px;
    font-size: 12px;
  
 }

p.compra{

font-size: 12px;
   margin: 20px 30px;
    
}




nav.men{

    margin-left: 5px;
    font-size: 12px;
  
}



header div.burger-menu button{ 
    font-size:20px;
    margin: 1px 155px;
  padding: 15px;
  border-radius: 10%;
    color:white ; 
background-color:#1259c3;
    border: 10px;
    
    
}

main {
    text-align: center;
}
main h2{
    font-family: Roboto;
    font-size: 24px;
}


main article.cafetera{
    font-size: 18px;
}
main article.cafetera h5{
    font-size: 16px;
}
main article.macbook{
     font-size: 18px;
}
main article.cafetera h4{
    font-size: 16px;
}

footer{
 padding:8px;
margin: 8px;
    background-color: white;
}

footer {
   
    text-align: center;
}
footer div.card{
    font-size: 2em; 
    color:#1259c3;
}

footer div.grift{
    font-size: 2em;
margin: 10px;
    color:#1259c3;
}

footer div.secure{
    font-size: 2em;
margin: 10px;
    color:#1259c3;
}

footer section.tarjeta{
    font-size : 12px;
}

footer section{
    text-align: center;
    margin-top: 50px;
    color: #666;;
}

footer .seguridad{
   font-size : 12px;
    margin-top: 20px;
    color: #666;;
}

footer .regalo{
    font-size: 12px;
    font-size:12px;
    margin-top: 20px;
    color: #666;;
}


footer section.Copyright{
    font-size:12px;
    text-align: left;
    margin-top: 40px;
    color: #666;;
}

   